<app-menu-lateral></app-menu-lateral>

<div class="container">
    <div class="bloco_topo">
      <div class="topo">
  
        <div class="titulo">
          <h1>Dashboards</h1>
        </div>
  
        <div class="lado_direito">
          <img src="../../../../../assets/imagens/notificacao.png" alt="">
  
          <img src="../../../../../assets/imagens/engrenagem.png" alt="">
  
          <div class="nome">
            <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
            <p>ROMERO BRITO</p>
          </div>
        </div>
      </div>
  
    </div>

    <div class="estatisticas_chamado">

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/bandeira.png" alt="">
        </div>


        <p>Chamados abertos</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/concluido.png" alt="">
        </div>


        <p>Chamados fechados</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/cancelado.png" alt="">
        </div>


        <p>Chamados cancelados</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/anexo.png" alt="">
        </div>


        <p>Anexos</p>
      </div>

    </div>

    <div class="bloco_grafico">
      <div class="grafico">
        <canvas id="myChart" #mychart></canvas>
      </div>

    </div>
</div>