<app-menu-lateral></app-menu-lateral>

<div class="container">
    <div class="bloco_topo">
        <div class="topo">
    
          <div class="titulo">
            <h1>Informações Pessoais</h1>
          </div>
    
          <div class="lado_direito">
            <img src="../../../../../assets/imagens/notificacao.png" alt="">
    
            <img src="../../../../../assets/imagens/engrenagem.png" alt="">
    
            <div class="nome">
                <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
              <p>ROMERO BRITO</p>
            </div>
          </div>
        </div>
    
      </div>

        <div class="blocos">

            <div class="bloco_esquerda">
                <h1>Perfil</h1>

                <div class="conteudo_bloco_esquerda">

                    <div class="lado_esquerdo">
                        <h1>Foto de perfil</h1>
                        <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                    </div>

                    <div class="lado_direito_conteudo">
                        <div class="nome_lado_direito">
                            <label>Nome: </label>
                            <p>Romero Brito</p>
                        </div>

                        <div class="nascimento">
                            <label for="">Data de nascimento: </label>
                            <p>04/09/2000</p>
                        </div>

                        <div class="email">
                            <label for="">E-mail:</label>
                            <p>romero@email.com</p>
                        </div>

                        <div class="setor">
                            <label for="">Setor:</label>
                            <p>Licitação</p>
                        </div>

                        <div class="ramal">
                            <label for="">Ramal: </label>
                            <p>3123</p>
                        </div>

                        <div class="chamados">
                            <label for="">Chamados Gerados: </label>
                            <p>45</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloco_direita">
                <div class="topo_bloco_direita">
                    <h1>Membros do setor</h1>
                </div>

                <div class="usuarios">
                    <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                    <label>Ricardo Neves</label>
                </div>

                <div class="usuarios">
                    <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                    <label>Ricardo Neves</label>
                </div>

                <div class="usuarios">
                    <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                    <label>Ricardo Neves</label>
                </div>

                <div class="usuarios-ultimo">
                    <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                    <label>Ricardo Neves</label>
                </div>


            </div>

        </div>

</div>