<div class="container">
  <div class="bloco_login">

    <h1>Login</h1>

    <div class="username">
      <p>Usuário: </p>
      <input type="text">
    </div>

    <div class="senha">
      <p>Senha: </p>
      <input type="password">
    </div>

    <div class="entrar">
      <button (click)="LevaHome()"> <img src="../../../assets/imagens/icone_entrar.svg" alt=""> ENTRAR</button>
    </div>
    

    <div class="intranet">
      <p> <img src="../../../assets/imagens/icone_exclamacao.svg" alt=""> Entre com seu login da intranet</p>
    </div>

  </div>
</div>