<app-menu-lateral></app-menu-lateral>

<div class="container">

  <div class="bloco_topo">
    <div class="topo">

      <div class="titulo">
        <h1>Equipe suporte</h1>
      </div>

      <div class="lado_direito">
        <img src="../../../../../assets/imagens/notificacao.png" alt="">

        <img src="../../../../../assets/imagens/engrenagem.png" alt="">

        <div class="nome">
          <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
          <p>ROMERO BRITO</p>
        </div>
      </div>
    </div>

  </div>

  <div class="bloco_principal">

    <div class="conteudo_bloco">
      <h1 class="sobre">Sobre os tecnicos</h1>

      <div class="usuarios">

        <div class="blocos_usuarios_espaco">
          <div class="centro">
            <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
            <h1>Ana Paula</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi laudantium eum fugiat doloribus pariatur rem vel laboriosam amet, id, autem veritatis voluptates qui sequi! Et vero officia animi praesentium.</p>
          </div>
          
          <div class="email">
            <label>E-mail : </label>
            <p>email@email.com.br</p>
          </div>

          <div class="ramal">
            <label>Ramal : </label>
            <p>3224</p>  
          </div>

        </div>


        <div class="blocos_usuarios_espaco">
          <div class="centro">
            <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
            <h1>Ana Paula</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi laudantium eum fugiat doloribus pariatur rem vel laboriosam amet, id, autem veritatis voluptates qui sequi! Et vero officia animi praesentium.</p>
          </div>
          
          <div class="email">
            <label>E-mail :</label>
            <p>email@email.com.br</p>
          </div>

          <div class="ramal">
            <label>Ramal :</label>
            <p>3224</p>  
          </div>
          
        </div>

        <div class="blocos_usuarios">
          <div class="centro">
            <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
            <h1>Ana Paula</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto excepturi laudantium eum fugiat doloribus pariatur rem vel laboriosam amet, id, autem veritatis voluptates qui sequi! Et vero officia animi praesentium.</p>
          </div>
          
          <div class="email">
            <label>E-mail :</label>
            <p>email@email.com.br</p>
          </div>

          <div class="ramal">
            <label>Ramal :</label>
            <p>3224</p>  
          </div>

        </div>
      </div>

    </div>

  </div>

</div>