<div class="container">
  <div class="logo">
    <pre>USS 
SUPORTE</pre>
  </div>

  <div class="links-menu">
    <div class="dashboard">
      <a routerLink="/dashboards">
        Dashboard
      </a>
    </div>

    <div class="gerar-chamado">
      <a routerLink="/gerar-chamado">
        Gerar chamado
      </a>
    </div>

    <div class="informacoes-pessoais">
      <a routerLink="/informacoes">
      Informações Pessoais
      </a>
    </div>

    <div class="equipe-suporte">
      <a routerLink="/equipe-suporte">
      Equipe Suporte
      </a>
    </div>
  </div>
</div>