<app-menu-lateral></app-menu-lateral>

<div class="container">
  <div class="bloco_topo">
    <div class="topo">

      <div class="titulo">
        <h1>Gerar Chamado</h1>
      </div>

      <div class="lado_direito">
        <img src="../../../../../assets/imagens/notificacao.png" alt="">

        <img src="../../../../../assets/imagens/engrenagem.png" alt="">

        <div class="nome">
          <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
          <p>ROMERO BRITO</p>
        </div>
      </div>
    </div>

  </div>

  <div class="bloco_chamado">
    <h1>GERAR CHAMADO PARA EQUIPE DO SUPORTE</h1>
    
    <div class="conteudo_chamado">
      <p>*preencha todos os campos necessários </p>

      <div class="inputs">

        <div class="id">
          <label>ID do equipamento : </label>
          <input type="text">
        </div>

        <div class="local">
          <label>Local : </label>
          <input type="text">
        </div>

        <div class="ramal">
          <label>Ramal : </label>
          <input type="text">
        </div>

        <div class="problema">
          <label>Tipo do problema : </label>
          <input type="text">
        </div>

        <div class="descricao_problema">
          <label >Descrição do problema : </label>
          <textarea placeholder="Descreva o problema detalhadamente para que o técnico tenha um diagnostico com uma melhor precisao"></textarea>
        </div>

        <div class="arquivo">
          <input type="file">
        </div>

        <div class="enviar">
          <button>ENVIAR</button>
        </div>
      </div>

    </div>

  </div>
</div>